.cabeza {
width: 400px;
height: 450px;
background-color: rgb(31, 87, 133);
position: relative;
top:0;
left: 0;
}

.ojo {
width: 100px;
height: 100px;
background-color: #ddb88f;
position: relative;
top:100px;
left:300px;
}

.pupila{
width: 20px;
height: 20px;
background-color:black;
position: absolute;
top:30px;
right:0px;
}

.boca {
width: 200px;
height: 20px;
background-color: pink;
position: absolute;
top:300px;
right:0px;
}

.cuerpo{
width: 300px;
height: 600px;
background-image: linear-gradient(45deg,green 10%,  blue 30%,  yellow 60%);
position: relative;
top:450;
left: 0;
text-align: center;
font-size: 2em;
border-radius: 50px ;
}

.brazo {
width: 200px;
height: 50px;
background-color: red;
position: absolute;
top:200px;
right:-100px;
}

.texto{
width: 400px;
height: 100px;
text-align: center;
border: 5px dashed darkblue;
position: absolute;
top: 300px;
right: 200px;
}


